@{
    ViewData["Title"] = "Home Page";
}

<p>Kolegji AAB</p>
<h1>Kolegji AAB</h1>
<div>

</div>
<input type="text" value=""/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
