@model Studenti
<h1>Te nderuar studentë</h1>
<h2>Te nderuar studentë</h2>
<h3>Te nderuar studentë</h3>
<h4>Te nderuar studentë</h4>
<h5>Te nderuar studentë</h5>
<h6>Te nderuar studentë</h6>

<p>Studenti me i dalluar top:</p>

@Model.SayHello()